<app-testa header="accedi"></app-testa>

<div id="form_di_accesso">

    <form #accesso="ngForm" (ngSubmit)="accedi(accesso)">
        <div>
            <input name="username" #username="ngModel" required type="text"
                placeholder="chi sei?" ngModel>
        </div>
        <div class="condizionale" *ngIf="username.touched && username.errors?.required">Inserisci il nome utente!</div>
        <div>
            <input name="password" #password="ngModel" required type="password"
                placeholder="***" ngModel>
        </div>
        <div class="condizionale" *ngIf="password.touched && password.errors?.required">Inserisci la password!</div>        
        <div style="display: flex;">
            <button type="submit" style="flex:1">Accedi</button>
            <span style="flex:1">
                <span><p>Ricorda questo accesso</p><input name="check" #check="ngModel" type="checkbox" ngModel></span>
                <span>Non sei iscritto? <a routerLink="/registrazione">Registrati</a></span>
            </span>
        </div>
        <div class="condizionale" *ngIf="password.touched && !vabene">Credenziali non valide!</div>
    </form>
    
</div>