<app-testa header="accedi"></app-testa>

<div id="form_di_accesso">

    <form #credenziali="ngForm" (ngSubmit)="accedi(credenziali)">
        <div>
            <input name="username" #username="ngModel" required type="text" placeholder="chi sei?" ngModel>
            <span class="condizionale" *ngIf="username.touched && username.errors?.required">Inserisci il nome
                utente!</span>
        </div>
        <div>
            <input name="password" #password="ngModel" required type="password" placeholder="***" ngModel>
            <span class="condizionale" *ngIf="password.touched && password.errors?.required">Inserisci la
                password!</span>
        </div>
        <button [disabled]="username.errors ||password.errors" type="submit" style="flex:1">Accedi</button>
        <span class="condizionale" *ngIf="password.touched && !vaBene">Credenziali non valide!</span>
        <div>
            <span>
                Ricorda questo accesso<input name="check" #check="ngModel" type="checkbox" ngModel>
                <br>
                Non sei iscritto? <a routerLink="/registrazione">Registrati</a>
            </span>
        </div>
    </form>

</div>