<app-testa [header]="ilpost.titolo"></app-testa>

<div id="post">
    <p>{{ilpost.testo}}</p>

    <div id="commentario">
        <div *ngFor="let comm of commenti">
            <div id="commentitolo" *ngIf="comm.post == numeropost">
                <ngx-avatar [name]="mail" size="25"></ngx-avatar>
                <div id="testocommento">{{comm.testo}}</div>
            </div>
        </div>
        <!--<ngb-pagination class="pg" [(page)]="page" [pageSize]="pageSize" [collectionSize]="commenti.length"></ngb-pagination>-->

        <span>Commenta questo post!</span>
        <form #commento="ngForm" (ngSubmit)="commentare(commento)">
            <input ngModel #txt_commento="ngModel" name="txt_commento" type="text" required>
            <button type="submit">Commenta</button>
        </form>
    </div>
</div>