<div id="testa">
    <p>{{titolopagina}}</p>
    <div><a routerLink="/profilo"><ngx-avatar [name]="accesso" size="100"></ngx-avatar></a></div>
</div>

<div id="navigatore-superiore">
    <div><a (click)="esci()">Logout</a></div>
    <div>Welcome, {{accesso}}</div>
    <div><a routerLink="/nuovopost">Nuovo Post</a></div>
</div>

<!--Feed-->
<div *ngFor="let pubb of pubblicazioni; let indice = index" [attr.data-index]="indice">
    <div id="riga_post">
        <div>
            <div class="titoletto" [routerLink]="['/post', pubb.id]">
                <ngx-avatar [name]="pubb.user" size="100"></ngx-avatar>
                <p>{{pubb.titolo}}</p>
            </div>
            <br>
            {{pubb.testo}}
        </div>
    </div>
</div>

<!--Paginazione feed-->
<ngb-pagination class="pg" [(page)]="page" [pageSize]="pageSize" [collectionSize]="pubblicazioni.length">
</ngb-pagination>