<app-testa header="home" avatar=1></app-testa>

<div id="navigatore-superiore">
    <div><a (click)="esci()">Logout</a></div>
    <div><a routerLink="/nuovopost">Nuovo Post</a></div>
</div>

<!--Feed-->
<div *ngFor="let pb of pubblicazioni.slice().reverse(); let indice = index" [attr.data-index]="indice">
    <div id="riga_post">
        <div>
            <div class="titoletto" [routerLink]="['/post', pb.id]">
                <span class="t-tit">{{pb.titolo}}</span>
                <span class="t-aut">{{pb.user}}</span>
            </div>
            <br>
            <span>{{pb.testo}}</span>
        </div>
    </div>
</div>

<!--Paginazione feed-->
<ngb-pagination class="pg" [(page)]="page" [pageSize]="pageSize" [collectionSize]="pubblicazioni.length">
</ngb-pagination>